@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=BBH+Bartle&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@font-face {
    font-family: 'Jersey-10';
    src: url('/fonts/Jersey-10.woff2') format('woff2'),
         url('/fonts/Jersey-10.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import 'tailwindcss';
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@theme {
    --font-sans: 'Poppins', system-ui, sans-serif;
    --font-display: 'Jersey 10', sans-serif;
}


